beautifulsoup4==4.6.0
blinker==1.4
certifi==2019.3.9
chardet==3.0.4
Django==2.1.8
django-modelcluster==4.4
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.11.2
docutils==0.14
draftjs-exporter==2.1.5
feedgenerator==1.9
html5lib==1.0.1
idna==2.8
Jinja2==2.10.1
Markdown==3.1
MarkupSafe==1.1.1
Pillow==5.4.1
psycopg2==2.8.2
Pygments==2.3.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
Unidecode==1.0.23
urllib3==1.24.2
wagtail==2.4
webencodings==0.5.1
Willow==1.1
